*{
    padding: 0;
    margin: 0;
}

body{
    background: url("/img/testbg.webp");
    background-size: 30%;
    background-color: #231F20;
}

#images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    align-content: flex-start;
    height: 1000px;
}

img{
    max-height: 300px;
    border-radius: 20px;
}