*{
    padding:0;
    margin:0;
    font-family: Nacelle;
    scroll-behavior: smooth;
    font-size: 18px;
}

@font-face {
    font-family: Nacelle;
    src: url("/fonts/Nacelle-Regular.ttf");
}

@font-face {
    font-family: Nacelle;
    src: url("/fonts/Nacelle-Bold.ttf");
    font-weight: bold;
}

.container{
    text-align: center;
}

#top{
    width: 100%;
    text-align: center;
}

#logo,#instance-identity{
    display:inline-block;
}

#logo{
    margin-right: 900px;
    vertical-align:middle;
    cursor:pointer;
}

#instance-identity{
    vertical-align:middle;
}

#instance{
    display:inline-block;
    vertical-align:middle;
}

#instance-logo{
    vertical-align:middle;
    transform: translateX(-50%);
}

#search{
    margin-left:100px;
    width: 320px;
    height: 40px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
}

.top-container{
    padding-top: 20px;
    padding-bottom: 10px;
}

.menus{
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
    width:35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

#men1:hover{
    content: url("../img/main/feed2.png");
}
#men2:hover{
    content: url("../img/main/class2.png");
}
#men3:hover{
    content: url("../img/main/task2.png");
}
#men4:hover{
    content: url("../img/main/chat2.png");
}
#men5:hover{
    content: url("../img/main/report2.png");
}
#men6:hover{
    content: url("../img/main/more2.png");
}

#sidebar{
    margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
    border-radius: 10px;
    padding: 5px 15px 10px 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#welcome{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

#sidemenu{
    height: 100%;
    margin-right: 200px;
}

#bottom{
    height: 800px;
    transform: translateY(1%);
}

#feed{
    vertical-align: top;
    width: 70%;
}

#menu-title{
    text-align: left;
}

#post{
    width: 50%;
    text-align: left;
}

.container2{
    display: inline-block;
}

.content{
    display:flex;
    justify-content: space-between;
}

.community{
    display:inline-block;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  line-height: 28px;
}

#comm,#makepost{
    display:inline-block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
    border-radius: 10px;
}

.make{
    display:inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    line-height: 50px;
}

#comm{
    font-weight: bold;
    width: 50%;
    height: 40px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 5px;
    padding-left: 25px;
    margin-right: 15px;
}

#makepost{
    height: 40px;
    vertical-align: top;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

#makepost:hover{
    background-color: #FFA700;
}